footer {
  --footer-main-background-color: rgb(44, 0, 34);
  --footer-legal-background-color: rgb(35, 0, 27);
  --footer-icons-background-color: #56334e;
  --footer-icons-hover-text-color: #e8e4e7;
  --footer-icons-hover-background-color: #d0d0d0;

  color: #fff;
  text-align: center;
  height: auto;
  width: 100%;
  font-size: 15px;
}

footer a {
  color: white;
}

div.footer__main {
  background-color: var(--footer-main-background-color);
  padding: 40px 15px;
}

.footer__main-content {
  display: grid;
  grid-template-columns: repeat(3, 208px) 635px;
  justify-content: center;
  height: auto;
}

.footer__links {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 14px;
  padding: 0;
}

.footer__about,
.footer__sub,
.footer__ad {
  & h4 {
    text-align: left;
    font-size: 14.658px;
    margin-top: 0;
    margin-bottom: 11px;
    letter-spacing: 1px;
  }
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.footer__brand-section {
  margin-left: 100px;
  text-align: left;
}

.footer__brand-text {
  margin-bottom: 30px;
}

.footer__social-links {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  column-gap: 15px;
  row-gap: 5px;
  & div {
    display: inline-block;
  }
  & svg {
    margin-right: 8px;
    fill: var(--footer-icons-background-color);
    background-color: white;
    z-index: -1;
    border-radius: 50%;
    border-color: transparent;
    & circle {
      fill: var(--footer-icons-background-color);
    }
  }
}

.footer__social-link:hover div {
  color: var(--footer-icons-hover-text-color);
}

.footer__social-link:hover svg {
  background-color: var(--footer-icons-hover-background-color);
}

.footer__legal {
  background-color: var(--footer-legal-background-color);
  display: flex;
  justify-content: center;
}

.footer__legal-content {
  display: flex;
  justify-content: space-between;
  max-width: 1259px;
  width: 100%;
  padding: 22px 15px;
}

.footer__legal-links {
  display: flex;
  align-items: center;
  padding-left: 0;
}

.footer__legal-link:nth-of-type(1)::after {
  content: "•";
  margin: 0 10px;
}

.footer__legal-text {
  margin: 0;
}

@media screen and (max-width: 1440px) {
  footer {
    font-size: 13px;
  }

  .footer__main-content {
    grid-template-columns: repeat(3, 158px) 510px;
  }

  .footer__legal-content {
    max-width: 984px;
  }
}

@media screen and (max-width: 1024px) {
  footer {
    font-size: 14.4px;
  }

  .footer__main-content {
    grid-template-columns: repeat(3, 1fr) clamp(295px, 40vw, 400px);
  }

  .footer__legal-content {
    max-width: 984px;
  }

  .footer__brand-section {
    margin-left: 50px;
  }

  .footer__about,
  .footer__sub,
  .footer__ad {
    & h4 {
      font-size: 14px;
    }
  }
}

@media screen and (max-width: 768px) {
  footer {
    font-size: 14px;
  }

  .footer__main-content {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 300px 112px 1fr;
    height: auto;
  }

  .footer__legal-content {
    max-width: 984px;
  }

  .footer__brand-section {
    margin-left: 0px;
    grid-column: 1 / 3;
    grid-row: 3;
  }

  .footer__ad {
    grid-column: 1 / 3;
    grid-row: 2;
  }

  .footer__about,
  .footer__sub,
  .footer__ad {
    & h4 {
      font-size: 14px;
    }
  }
  .footer__legal-content {
    flex-direction: column;
    align-items: flex-start;
    & p {
      margin: 14px 0;
      text-align: left;
    }
    & ul {
      margin-top: 14px;
    }
  }
}
